
    html,body{
        font-family: 'Roboto', sans-serif;
        width: 100%;
        font-size: 14px;
        line-height: 2em;
        overflow: auto;
    }

    input,select,textarea{
        border:0;
        border-bottom: 1px solid rgba(230,230,230,1);
        padding: 4px;
    }

    .dygraph-axis-label,.dygraph-legend span{
         font-family: 'Roboto', sans-serif;
    }

    .dygraph-legend span{
         font-weight: 400;
    }

    select option{
        font-weight: inherit;
    }

    .navbar-nav > li+li > a.active {
        font-weight: 500;
    }

	.bg-white{
		background: white;
	}

	.main-body{
		margin-top: 80px;
        color: #808080;
	}

    .brand-desk{
        display:none !important;
    }

    .brand-mobile{
        display:inline !important;
    }
	/*subtitle*/
	.subtitle-block{
        display: none;
		position: static;
		padding: 15px;
		text-align: center;
	}


	ul.subtitle{
		list-style: none;
		margin-top: 60px;
		padding: 0;
	}

    ul.subtitle li{
		padding:10px 0 10px 0;
		font-size: 0.8rem;
		color: #9d9d9d;
		cursor: pointer;
        border-right: 1px solid white;
	}


	ul.subtitle li.hook:hover{
		color: rgba(76,191,255,1);
	}


    ul.subtitle a{
        color: inherit;
        text-decoration:none;
    }

    ul.subtitle a:hover{
        color: rgba(76,191,255,1);
    }

	/*main-block*/
	div.main-block{
/*		margin-top: 60px;*/
    overflow: hidden;
	}

	div.main-block h4{
		font-weight: 300;
/*        color: black;*/
        line-height: 1.5em;
	}

    div.main-block h2{
        font-weight: lighter;
        color: #4cbfff;
        line-height: 1.5em;
        font-size: 3rem;
    }

    div.main-block p{
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: auto;
    }

    div.main-block .block{
        overflow: auto;
        margin-bottom: 80px;
    }

    div.sub-block{
        width: 100%;
        height: 100%;
        overflow-y:auto;
        overflow-x:hidden;
        padding-top: 60px;
        box-sizing: border-box;
/*        padding-right: 15px;*/
    }

    div.sub-block .page{
        width: 100%;
        height: 100%;
        overflow:auto;
        padding-top: 60px;
        box-sizing: border-box;
        padding-right: 30px;
        position: relative;
        margin-right: 0;
    }
    
    div.sub-block table{
        width: 98%;
    }

    div.sub-block .page:first-child{
        margin-top: -60px;
    }
    /*mapImg*/
    .mapImg{
        border-radius: 0%;
        font-size:60px;
        line-height:150px;
        background-color: rgba(76,191,255,1);
        color:white;
        width: 150px;
        height: 150px;
        text-align: center;
        margin-right: 14px;
        margin-left: 4px;
        margin-top: 9px;
        position: relative;
    }

    .mapImg:before{
        position: absolute;
        content: '\f030';
        transition:.2s;
        color: rgba(255,255,255,.0);
    }

    .mapImg:hover:before{
        position: absolute;
        bottom: -64px;
        right: 5px;
        content: '\f030';
        font-family: FontAwesome;
        font-size: 16px;
        color: rgba(255,255,255,.6);
    }


    /* icon */
    div.icon{
        border-radius: 0%;
        font-size:120px;
        line-height: 2em;
        background-color: rgba(76,191,255,1);
        color:white;
        width: 48%;
        height: 2em;
        text-align: center;
        float: left;
        margin-right: 14px;
        margin-left: 14px;
    }

    div.icon.right{
        float: right;
    }

    div.icon.left{
        float: left;
    }

    /* deviceIcon */
    div.deviceIcon{
        border-radius: 0%;
        font-size:30px;
        line-height: 2em;
        background-color: white;
        color:rgba(76,191,255,1);
        width: 2em;
        height: 2em;
        text-align: center;
        transition:.2s;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    
    div.deviceIcon:hover{
        background-color:rgba(76,191,255,1);
        color:white;
    }

    /* locIcon */
    div.locIcon{
        border-radius: 0%;
        font-size: 30px;
        line-height: 45px;
        background-color: white;
        color: rgba(76,191,255,1);
        width: 45px;
        height: 45px;
        text-align: center;
        transition: .2s;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    div.locIcon:hover,
    div.locIcon:active{
        background-color:rgba(76,191,255,1);
        color:white;
    }
    /* deviceIcon */
    div._deviceIcon{
        border-radius: 0%;
        font-size:30px;
        line-height: 2em;
        background-color:rgba(76,191,255,1);
        color:white;
        width: 2em;
        height: 2em;
        text-align: center;
        transition:.2s;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    div._deviceIcon:hover{
        background-color: white;
        color:rgba(76,191,255,1);
    }

    /* oneSide-block */
    div.oneSide-block{
        padding: 0 14px 0 14px;
        width: 48%;
        font-weight: 300;
        padding-bottom: 2em;
    }

    div.oneSide-block.right{
        float: right;
    }

    div.oneSide-block.left{
        float: left;
    }

/*    div.oneSide-block label{
        font-weight: 300;
        margin:0 5px 0 5px; 
    }*/

    div.oneSide-block label,
    div.three-block label
    {
        display: block;
        font-size: .8em;
        margin-bottom: -6px;
    }

    div.oneSide-block .inline-label{
        display: inline;
        font-size: 1em;
        font-weight: 300;
        margin:0 5px 0 5px; 
    }

    div.three-block{
        padding: 0 14px 0 14px;
        width: 32%;
        height: 40%;
        font-weight: 300;
        padding-bottom: 2em;
        margin: .5%;
        float: left;
        background: rgba(76,191,255,1);
        color: white;
    }

    div.three-block.detail{
        background:inherit;
        color:inherit;
        height: 55%;
    }

    table.tablefloat{
        float: left;
        margin-top: 50px;
    }

   table.tablefloat.right{
        float: right;
    }

    div.chartTitle,div.loclist{
        background: rgba(76,191,255,1);
        color: white;
        box-sizing: border-box;
        padding-bottom: 2em;
    }

    div.loclist{
        height: 450px;
    }

    div.chartTitle h2,div.chartTitle h4,div.chartTitle h6,div.chartTitle input,div.chartTitle select,
    div.loclist h2,div.loclist h4,div.loclist h6,div.loclist input,div.loclist select,
    div.three-block h2,div.three-block h4,div.three-block h6,div.three-block input,div.three-block select
    {
        background: rgba(76,191,255,1);
        color: white;
    }

    div.three-block.detail h2,div.three-block.detail h4,div.three-block.detail h6,div.three-block.detail input,div.three-block.detail select{
        background: inherit;
        color: inherit;
    }

    div.chartTitle > select,div.chartTitle input{
        width: 40%;
    }

    div.chartTitle input::-moz-placeholder{
        background: rgba(76,191,255,1);
        color: white;
    }
    div.chartTitle input:-ms-input-placeholder{
         background: rgba(76,191,255,1);
        color: white;
    }
    div.chartTitle input:-moz-placeholder{
        background: rgba(76,191,255,1);
        color: white;
    }
    div.chartTitle input::-webkit-input-placeholder{
        background: rgba(76,191,255,1);
        color: white;
    }

    div.chartTitle ul,
    div.loclist ul,
    div.three-block ul
    {
        margin:0;
        padding: 0; 
    }

    div.chartTitle li,
    div.loclist li,
    div.three-block li{
        list-style: none;
        margin: 10px 0 10px 0;
    }

    div.chart-block{
        width: 100% !important;
        float: left;
        border-left:1px solid rgba(76,191,255,1);
        margin-top: 2em;
        line-height: 1.5em;
        font-size: 1em;
    }

     div.chart-block li{
        list-style: none;
     }

     div.chart-block label{
        font-weight: 400;
     }
	/* font-btn */
	.font-btn.red{
		color: red;
	}

	.font-btn.def{
		color: rgba(76,191,255,1);
	}

	.font-btn{
		cursor: pointer;
	}

	.font-btn:hover:after{
        content: ' ';
        width: 1em;
        height: 1em;
        margin: 0.2em 0 0 -.8em;
        position: absolute;
        border-bottom: 1px solid rgba(76,191,255,1);
	}

    .-btn{
        cursor: pointer;
        width: 80px;
        height: 1.5em;
        line-height: 1.5em;
        /* border-bottom: 1px solid rgba(76,191,255,1); */
        color: rgba(76,191,255,1);
        /* width: auto; */
        /* position: relative; */
        display: inline-block;
        position:relative;
        overflow: hidden;
        vertical-align: middle;
    }

    .-btn:after{
        content:' ';
        width: 100%;
        height: 100%;
        position:absolute;
        margin-top: -.75em;
        left: 80px;
        border-bottom: 1px solid rgba(76,191,255,1);
        animation-duration: .3s;
        animation-name: slideout;
    }

    .-btn:hover:after{
        left: 0px;
        animation-duration: .3s;
        animation-name: slidein;
    }

      @keyframes slidein {
        from {
          left: 80px;
        }
        
        to {
          left: 0px;
        }
      }

      @keyframes slideout {
        from {
          left: 0px;
        }
        
        to {
          left: 80px;
        }
      }

    /**/
    .userInfo{
        float: right !important;
    }

    .userInfo span{
        position: relative;
        display: inline-block !important;
        font-weight: 300;
        margin-top: 19px;
        /* padding-top: 15px; */
        /* padding-bottom: 15px; */
        margin-right: 5px;
        padding: 0 5px 0 5px;
        line-height: 34px;
        color: #9d9db5;
        background-color: #f9f9f9;
    }

    .userInfo a{
        color: rgba(76,191,255,1) !important;
        float: right;
        line-height: 34px !important;
        padding: 0 !important;
        margin-top: 19px;
        font-size: 1.3em;
        margin-right: 10px;
    }
/*@media (min-width: 992px) {*/
@media (min-width: 700px) {
    html,body{
        overflow: hidden;
    }

    .brand-desk{
        display:inline !important;
    }

    .brand-mobile{
        display:none !important;
    }

	.subtitle-block{
        display:block;
        float:left; 
		padding: 15px;
            padding-right: 23px;
		text-align: right;
        width:16.667%;
	}

    ul.subtitle li span{
        position: inherit;
    }

	ul.subtitle li.hook,
    ul.subtitle li.active{
		/*border-right: 1px solid rgba(76,191,255,1);*/
		/*color: #9d9d9d;*/
        position:relative;
        overflow: hidden;
	}

    ul.subtitle li.active{
        color: rgba(76,191,255,1);
    }


    ul.subtitle li.active span:after,
    ul.subtitle li.hook span:after{
        content: '';
        width:120%;
        height: 2rem;
        position:absolute;
/*        margin-top: -.5em;*/
        left: 100%;
        border-left: 2px solid rgba(76,191,255,1);
        animation-duration: .5s;
        animation-name: -slideout;
    }

    ul.subtitle li.active span:after,
    ul.subtitle li.hook:hover span:after{
        color: rgba(76,191,255,1);
        left: -10px;
        animation-duration: .5s;
        animation-name: -slidein;
    }

      @keyframes -slidein {
        from {
          left: 100%;
        }
        
        to {
          left: -10px;
        }
      }

      @keyframes -slideout {
        from {
          left: -10px;
        }
        
        to {
          left: 100%;
        }
      }

	ul.subtitle li.main{
        color: rgba(76,191,255,1);
        cursor: auto;
	}
}
/* transitions */
.transitions{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 2999;
    opacity: .9;
}

.transitions .statusline{
    position: absolute;
    height: 50%;
    width: 0%;
    border-bottom: 1px solid rgba(76,191,255,1);
}

.transitions .loadtext{
    position: absolute;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    box-sizing: border-box;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    font-weight: 200;
    color: rgba(76,191,255,1);
    font-style: italic;
}

/*toggle*/

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 19px;
    font-size: 8px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px;
    color: #4CBFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 7px;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 40px; margin: 0px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 40px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #4CBFFF; 
}

/* oocss */
.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-both{
    clear:both;
}

.mr-b-50px{
    margin-bottom: 50px;
}

.mr-l-48pc{
    margin-left: 48%;
}

.pd-l-28px{
    padding-left: 28px;
}

.tdline{
    line-height: 2.5em;
}

.tdline i{
    cursor: pointer;
}